<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: black;
        }
        body h1, body a {
            color: #f7d633;
        }
    </style>
</head>
<body>
<h1>Votre message est bien arrivé!</h1>
<p>Nous vous répondrons très vite </p>
</body>
</html>