{% extends 'layout.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column">
        <div class="page-header">
            <h1 class="ml-5"></h1>
            <div class="row">
                {% for  performances in performance %}
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card h-100">
                            <h2 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">{{ performances.title }}</h2>
                            <div class="card-body"> {{ performances.description }}</div>
                            <div class="card-footer" style="background-image: url({{ performances.poster }});"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}