@import "~bootstrap/scss/bootstrap" ;
@import "header";
@import "main";
@import "font";
@import "navbar";
@import "performance";


body {
    background-color: white;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size : 3rem;
    font-weight: bold;
}

h2{
    font-family: 'Amatic SC', cursive;
    font-size : 2rem;
    font-weight: bold;
}

p {
    font-size : 1.5rem;
}


