<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: black;
        }
        body h1, body a {
            color: #f7d633;
        }
        body h2, p {
            color: wheat;
        }
    </style>
</head>

<body>
<h1>Hello {{ contact.lastname }}</h1>
<p>{{contact.answer}}</p>
<h2>Question asked :</h2>
<p><i>{{ contact.message }} </i></p>

<p>bye bye, Young Pirate !</p>
</body>
</html>