{% extends 'layout.html.twig' %}

{% block title %}
    Checkpoint 4
{% endblock %}

{% block body %}
<div class="container">
    <h1> Welcome to you on my checkpoint !</h1>
    <div class="card">
        <div class="card-body">
           Some says that fate is a good provider. Other says that futur belongs to the brave. We believe on the beauty of your dreams. So, come inside young pirate ! Breath the smell of roasted peanuts. Our special guest is your inner child !
        </div>
    </div>

</div>

{% endblock %}