{% extends 'layout.html.twig' %}

{% block title %}
    Checkpoint 4
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1> Welcome to You Wilder !</h1>
    <p> Some says that fate is a good provider. Other says that futur belongs to the brave. We believe to the beauty of your dreams. So, come inside young pirate ! Breath the smell of roasted peanuts. Our special guest is your inner child !
    </p>

{% endblock %}