{% extends 'layout.html.twig' %}

{% block title %}Edit Performance{% endblock %}

{% block body %}
    <h1>Edit Performance</h1>

    {{ include('performance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('performance_index') }}">back to list</a>

    {{ include('performance/_delete_form.html.twig') }}
{% endblock %}
