{% extends 'layout.html.twig' %}

{% block title %}New Performance{% endblock %}

{% block body %}
    <h1>Create new Performance</h1>

    {{ include('performance/_form.html.twig') }}

    <a href="{{ path('performance_index') }}">back to list</a>
{% endblock %}
